{% extends "portfolio/about.html" %}

{% block code %}
<!--Code Section-->
<div class="row pt-5 pb-5">
    <div class="border p-5 pb-2 ide">
        01 <span class="function">class</span> <span class="value">Saife Shuhaib Md</span>:<br>
        <div class="constructor">
            02 <span class="dot">....</span><span class="function">constructor(<span class="self">self</span>)</span>:<br>
            03 <span class="dot">........</span><span class="self">self</span>.<span class="variable">name</span> = '<span class="value">Saife Shuhaib Md</span>'<br>
            04 <span class="dot">........</span><span class="self">self</span>.<span class="variable">location</span> = '<span class="value">Dhaka, Bangladesh</span>'<br>
            05 <span class="dot">........</span><span class="self">self</span>.<span class="variable">email</span> = '<span class="value">enansaifme33@gmail.com</span>'<br>
            06 <span class="dot">........</span><span class="self">self</span>.<span class="variable">linkedIn</span> = '<span class="value">linkedin.com/in/enansaif</span>'<br>
        </div>
        07<br>
        <div class="experience">
            08 <span class="dot">....</span><span class="function">experience()</span>:<br>
            09 <span class="dot">........</span><span class="function">return</span> {'<span class="variable">11/2021 - Current</span>' : '<span class="value">Software Engineer - BJIT Limited</span>'}<br>
        </div>
        10<br>
        <div class="skills-list">
            11 <span class="dot">....</span><span class="function">skills()</span>:<br>
            12 <span class="dot">........</span><span class="function">return</span> {'<span class="variable">Language</span>' : <span class="value">['Python', 'C++', 'JavaScript', 'HTML', 'CSS'],</span><br>
            13 <span class="dot">.....................</span>'<span class="variable">Frameworks</span>' : <span class="value">['Django', 'Flask', 'PyTorch', OpenCV, 'Numpy', 'Pandas', 'Bootstrap'],</span><br>
            14 <span class="dot">.....................</span>'<span class="variable">Database</span>' : <span class="value">['MySQL', 'MongoDB'],</span><br>
            15 <span class="dot">.....................</span>'<span class="variable">Common</span>' : <span class="value">['Git', 'Linux']</span>}<br>
        </div>
        16<br>
        <div class="education">
            17 <span class="dot">....</span><span class="function">education()</span>:<br>
            18 <span class="dot">........</span><span class="function">return</span> {'<span class="variable">2016 - 2021</span>' : '<span class="value">B.Sc. in ETE - Chittagong University of Engineering & Technology</span>'}<br>
        </div>
        <a href="{% url 'portfolio:about' %}" style="text-decoration: none; color:var(--theme-orange)"><p class="text-center p-0">&#8634;</p></a>
    </div>
</div>
{% endblock %}