{% extends "portfolio/base.html" %}

{% block title %}
<title>Projects</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--
            # project template
            <div class="col pt-5 d-flex justify-content-around align-items-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="caption">
                    <div class="card-body">
                        <h5 class="card-title">title</h5>
                        <p class="card-text">description</p>
                        <p class="card-text">tools</p>
                        <a class="social-btn" href="#">Open Project</a>
                    </div>
                </div>
            </div>
        -->
        <div class="col pt-5 d-flex justify-content-around align-items-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">LeetQuizzer</h5>
                  <p class="card-text">A CRUD application for a quick review of my previously solved questions.</p>
                  <p class="card-text">Python | Django | Bootstrap</p>
                  <a class="social-btn" href="{% url 'leetquizzer:main_menu' %}">Open Project</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}