{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body style="text-align: justify;">
    <div class="container">
        <div class="row d-flex justify-content-center align-content-center">
            <div class="col-md-9">
                <h1>Saife Shuhaib Md. Enan</h1>
                <p>Backend Software Engineer with a deep passion for artificial intelligence. My main focus is utilizing AI and deep learning skills to create efficient REST APIs and backend applications.</p>
                
                <h2>Contact Information</h2>
                <ul>
                    <li>Location: Dhaka, Bangladesh</li>
                    <li>Phone: +8801575520618</li>
                    <li>Email: enansaifme33@gmail.com</li>
                    <li>LinkedIn: <a href="https://linkedin.com/in/enansaif">linkedin.com/enansaif</a></li>
                    <li>GitHub: <a href="https://github.com/enansaif">github.com/enansaif</a></li>
                </ul>

                <h2>Technical Skills</h2>
                <p>Python3 | C++14 | HTML5 | CSS3 | Django | Flask | PyTorch | TensorFlow | NumPy | SciKit-Learn | Pandas | OpenCV | PyGame | OpenVino | Linux | Git | MongoDB | MySql | Bootstrap | Postman | OOP | REST APIs</p>

                <h2>Experience</h2>
                <h3>Software Engineer, BJIT Limited (11/2021 - Current)</h3>
                <ul>
                    <li>Developed an AI test automation tool for detecting changes and updating test cases in subsequent versions of a web page using Python, Django, Selenium, and Yolov7 object detection.</li>
                    <li>Developed an Android face recognition application with a fully homomorphic encryption scheme. Additionally, improved performance by reducing file size by 93% and achieving an inference time of 1 second using C++, Microsoft SEAL, and Dlib.</li>
                    <li>Created a Food Detection API using a custom-trained Yolov5 model to detect 13 types of Japanese food. The implementation utilized Python, PyTorch, Roboflow, Flask, OpenCV, Bootstrap, HTML, and CSS.</li>
                    <li>Designed and implemented an Image Analyzer REST API capable of extracting age, gender, race, emotion, scene, object, context, etc., information from any image. The implementation utilized Python, Flask, OpenCV, DeepFace, and various image processing techniques.</li>
                    <li>Worked on a desktop application to analyze and recognize faces, providing real-time emotion and landmark information using C++, OpenCV, and Intel OpenVino. Additionally, improved performance by implementing parallel processing and frame skipping techniques.</li>
                    <li>Wrote a python program that analyzes the color ratios present in an image, with the primary objective of identifying user preferences based on any given image.</li>
                    <li>Analyzed several watermarking techniques and developed a Python script for watermarking, utilizing dwt-dct image processing algorithms to add invisible watermarks to specific sections of video frames.</li>
                </ul>

                <h2>Projects</h2>
                <ul>
                    <li>LeetCode Flash Cards: Created a flashcard CRUD application using Django, SQLite3 database, HTML, and Bootstrap. The application was designed to efficiently review and manage my solved questions.</li>
                    <li>Dino Run ver 2.0: Created a Dino Run game with greyscale pixel sprite and three playable characters with Python and Pygame.</li>
                    <li>Snake Bot: Built a fully functioning snake game using Python and Pygame and trained a snake AI using reinforcement learning to autonomously play the game.</li>
                    <li>Web Scraper: Wrote a script using BeautifulSoup to scrape image and text data from multiple websites, creating datasets specifically for training machine learning models.</li>
                    <li>Breast Cancer Detection: Developed a custom breast cancer detection Convolutional Neural Network (CNN) model using PyTorch, capable of accurately classifying tumors into two groups.</li>
                </ul>

                <h2>Education</h2>
                <p>B.Sc. in Electronics and Telecommunication Engineering (2021)<br>Chittagong University of Engineering and Technology, Chittagong<br>CGPA: 3.58/4.00</p>

                <h2>Soft Skills</h2>
                <ul>
                    <li>Communication</li>
                    <li>Collaboration</li>
                    <li>Persistence</li>
                    <li>Patience</li>
                    <li>Adaptability</li>
                    <li>Attention to detail</li>
                    <li>Time management</li>
                    <li>Leadership</li>
                    <li>Action bias</li>
                </ul>

                <h2>Publication</h2>
                <p>Design and Characterization of Miniaturized Implantable PIFA Antenna for MICS Band Application, 2020 IEEE Region 10 Symposium (TENSYMP), Dhaka, Bangladesh, 2020, pp. 254-257</p>

                <h2>Achievements</h2>
                <ul>
                    <li>Ranked among the Top 5 teams in Robi Datathon 2.0</li>
                    <li>Third highest scorer of BJIT Professional training</li>
                    <li>First Place at The Idea Competition 2020, CUET</li>
                </ul>

                <h2>Leadership</h2>
                <ul>
                    <li>Vice President, CUET Photographic Society</li>
                    <li>Hall Manager, Shaheed Md. Shah Hall, CUET</li>
                    <li>Finance, Telemesh 1.0 by dept. of ETE, CUET</li>
                </ul>
                <div class="d-flex justify-content-center align-content-center">
                    <a class="pb-5" href="{% static 'portfolio/pdf/resume.pdf' %}">Download</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
