{% extends "portfolio/base.html" %}
{% block title %}<title>About</title>{% endblock %}
{% block content %}
    <div class="container p-3 about-section"
         style="font-family: 'Courier New', Courier, monospace">
        <!-- About -->
        <div class="row right-left1 justify-content-center">
            <div class="col d-flex justify-content-end align-items-center">
                <h1 class="display-6">About</h1>
            </div>
            <div class="col-xxl-9 shadow p-3 pb-0 m-3 rounded">
                <p class="lead">
                    I am a passionate Backend Software Engineer specializing in artificial intelligence (AI).
                    My main expertise lies in leveraging AI and deep learning skills to develop efficient backend
                    applications and RESTful APIs. With proficiency in Python, C++, and JavaScript, I utilize
                    frameworks like Django, Flask, PyTorch, OpenCV, DeepFace, Dlib and MediaPipe to seamlessly integrate
                    AI solutions into complex infrastructures. My focus is on optimizing performance and scalability
                    while adhering to industry best practices.
                </p>
            </div>
        </div>
        <!-- Details -->
        <div class="row left-right1 justify-content-center">
            <div class="col order-xxl-2 d-flex justify-content-start align-items-center">
                <h1 class="display-6">Details</h1>
            </div>
            <div class="col-xxl-9 order-xxl-1 shadow p-3 m-3 rounded">
                <div style="font-size: 0.9rem;">
                    01 <span class="function">class</span> <span class="value">Saife Shuhaib Md</span>:
                    <br>
                    <div class="constructor">
                        02 <span class="dot">....</span><span class="function">constructor(<span class="self">self</span>)</span>:
                        <br>
                        03 <span class="dot">........</span><span class="self">self</span>.<span class="variable">name</span> = 'Saife Shuhaib Md'
                        <br>
                        04 <span class="dot">........</span><span class="self">self</span>.<span class="variable">location</span> = 'Dhaka, Bangladesh'
                        <br>
                        05 <span class="dot">........</span><span class="self">self</span>.<span class="variable">email</span> = 'enansaifme33@gmail.com'
                        <br>
                        06 <span class="dot">........</span><span class="self">self</span>.<span class="variable">linkedIn</span> = 'linkedin.com/in/enansaif'
                        <br>
                    </div>
                    07
                    <br>
                    <div class="experience">
                        08 <span class="dot">....</span><span class="function">experience()</span>:
                        <br>
                        09 <span class="dot">........</span><span class="function">return</span> {'<span class="variable">11/2021 - Current</span>' : 'BJIT Limited'}
                        <br>
                    </div>
                    10
                    <br>
                    <div class="skills-list">
                        11 <span class="dot">....</span><span class="function">skills()</span>:
                        <br>
                        12 <span class="dot">........</span><span class="function">return</span> {'<span class="variable">Language</span>' : ['Python', 'C++', 'JavaScript', 'HTML', 'CSS'],
                        <br>
                        13 <span class="dot">................</span>'<span class="variable">Frameworks</span>' : ['Django', 'Flask', 'PyTorch', OpenCV, 'Numpy', 'Pandas', 'Bootstrap'],
                        <br>
                        14 <span class="dot">................</span>'<span class="variable">Database</span>' : ['MySQL', 'MongoDB'],
                        <br>
                        15 <span class="dot">................</span>'<span class="variable">Common</span>' : ['Git', 'Linux']}
                        <br>
                    </div>
                    16
                    <br>
                    <div class="education">
                        17 <span class="dot">....</span><span class="function">education()</span>:
                        <br>
                        18 <span class="dot">........</span><span class="function">return</span> {'<span class="variable">2016 - 2021</span>' : '<span class="value">B.Sc. in ETE - Chittagong University of Engineering & Technology</span>'}
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- Languages -->
        <div class="row right-left2 justify-content-center">
            <div class="col d-flex justify-content-end align-items-center">
                <h1 class="display-6">Languages</h1>
            </div>
            <div class="col-xxl-9 shadow p-3 pb-0 m-3 rounded">
                <div class="col d-flex flex-column align-items-center">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item border-0">
                            <i class="devicon-python-plain skills" title="Python"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-cplusplus-plain skills" title="Cplusplus"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-javascript-plain skills" title="JavaScript"></i>
                        </li>
                    </ul>
                    <div style="width: 100%;">
                        <h6>Python</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success"
                                 role="progressbar"
                                 style="width: 98%"
                                 aria-valuenow="98"
                                 aria-valuemin="0"
                                 aria-valuemax="100">98%</div>
                        </div>
                        <br>
                        <h6>C++</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">75%</div>
                        </div>
                        <br>
                        <h6>JavaScript</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success"
                                 role="progressbar"
                                 style="width: 60%"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="100">60%</div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- Web Skills -->
        <div class="row left-right2 justify-content-center">
            <div class="col order-xxl-2 d-flex justify-content-start align-items-center">
                <h1 class="display-6">Web Skills</h1>
            </div>
            <div class="col-xxl-9 order-xxl-1 shadow p-3 m-3 rounded">
                <div class="col d-flex flex-column align-items-center">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item border-0">
                            <i class="devicon-django-plain skills" title="Django"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-flask-original skills" title="Flask"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-html5-plain skills" title="HTML"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-css3-plain skills" title="CSS"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-bootstrap-plain skills" title="Bootstrap"></i>
                        </li>
                    </ul>
                    <div style="width: 100%;">
                        <h6>Django</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info"
                                 role="progressbar"
                                 style="width: 90%"
                                 aria-valuenow="90"
                                 aria-valuemin="0"
                                 aria-valuemax="100">90%</div>
                        </div>
                        <br>
                        <h6>Flask</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning"
                                 role="progressbar"
                                 style="width: 90%"
                                 aria-valuenow="90"
                                 aria-valuemin="0"
                                 aria-valuemax="100">90%</div>
                        </div>
                        <br>
                        <h6>HTML</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info"
                                 role="progressbar"
                                 style="width: 80%"
                                 aria-valuenow="80"
                                 aria-valuemin="0"
                                 aria-valuemax="100">80%</div>
                        </div>
                        <br>
                        <h6>CSS</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning"
                                 role="progressbar"
                                 style="width: 65%"
                                 aria-valuenow="65"
                                 aria-valuemin="0"
                                 aria-valuemax="100">65%</div>
                        </div>
                        <br>
                        <h6>Bootstrap</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">75%</div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- AI Skills -->
        <div class="row right-left3 justify-content-center">
            <div class="col d-flex justify-content-end align-items-center">
                <h1 class="display-6">AI Skills</h1>
            </div>
            <div class="col-xxl-9 shadow p-3 pb-0 m-3 rounded">
                <div class="col d-flex flex-column align-items-center">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item border-0">
                            <i class="devicon-pytorch-original skills" title="PyTorch"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-tensorflow-original skills" title="TensorFlow"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-opencv-plain skills" title="OpenCV"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-pandas-original skills" title="Pandas"></i>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="devicon-numpy-original skills" title="Numpy"></i>
                        </li>
                    </ul>
                    <div style="width: 100%;">
                        <h6>PyTorch</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning"
                                 role="progressbar"
                                 style="width: 95%"
                                 aria-valuenow="95"
                                 aria-valuemin="0"
                                 aria-valuemax="100">95%</div>
                        </div>
                        <br>
                        <h6>TensorFlow</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">75%</div>
                        </div>
                        <br>
                        <h6>OpenCV</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning"
                                 role="progressbar"
                                 style="width: 85%"
                                 aria-valuenow="85"
                                 aria-valuemin="0"
                                 aria-valuemax="100">85%</div>
                        </div>
                        <br>
                        <h6>Pandas</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">75%</div>
                        </div>
                        <br>
                        <h6>Numpy</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning"
                                 role="progressbar"
                                 style="width: 80%"
                                 aria-valuenow="80"
                                 aria-valuemin="0"
                                 aria-valuemax="100">80%</div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
