{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saife Shuhaib Md.</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/animations.css' %}">
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'portfolio/img/favicon.ico' %}" />
    </head>
    <body>
        <div class="container col-xl-8">
            <!--Landing section-->
            <div class="row py-5">
                <div class="col-xl-9 col-lg-8 col-7">
                    <div class="container h-100 d-flex flex-column justify-content-center align-items-between">
                        <div class="text-start">
                            <h1>Saife Shuhaib Md.</h1>
                            <p>Software Engineer</p>
                            <p>I build backend applications with python, artificial intelligence and machine learning</p>
                            <div>
                                <a class="btn fs-4 text-light" href="https://www.linkedin.com/in/enansaif/"><i class="devicon-linkedin-plain"></i></a>
                                <a class="btn fs-3 text-light" href="https://github.com/enansaif"><i class="devicon-github-original"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container d-flex justify-content-center align-items-start align-items-md-center">
                        <div class="frame">
                            <div class="content">
                                <img src="{% static 'portfolio/img/head_shot.png' %}"
                                        alt="Profile Picture"
                                        width="100%"
                                        class="rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>About</h2>
                <p class="fs-5">
                    I am a passionate Backend Software Engineer specializing in artificial intelligence (AI).
                    My main expertise lies in leveraging AI and deep learning skills to develop efficient backend
                    applications and RESTful APIs. With proficiency in Python, C++, and JavaScript, I utilize
                    frameworks like Django, Flask, PyTorch, OpenCV, DeepFace, Dlib and MediaPipe to seamlessly integrate
                    AI solutions into complex infrastructures. My focus is on optimizing performance and scalability
                    while adhering to industry best practices.
                </p>
            </div>
        </div>
    </body>
</html>
