{% extends "quizzes/base.html" %}
{% block quiz %}
  <div>
    <h1>Problem: 2746 - Decremental String Concatenation</h1>
    <h2>Difficulty: Medium</h2>
    <p>You are given a 0-indexed array words containing n strings.</p>
    <p>Let's define a join operation join(x, y) between two strings x and y as concatenating them into xy. However, if the last character of x is equal to the first character of y, one of them is deleted.</p>
    <p>For example, join("ab", "ba") = "aba" and join("ab", "cde") = "abcde".</p>
    <p>You are to perform n - 1 join operations. Let str0 = words[0]. Starting from i = 1 up to i = n - 1, for the ith operation, you can do one of the following:</p>
    <ul>
        <li>Make stri = join(stri - 1, words[i])</li>
        <li>Make stri = join(words[i], stri - 1)</li>
    </ul>
    <p>Your task is to minimize the length of strn - 1.</p>
    <p>Return an integer denoting the minimum possible length of strn - 1.</p>

    <div class="example">
        <h2>Example 1:</h2>
        <p>Input: words = ["aa","ab","bc"]</p>
        <p>Output: <span class="example-output">4</span></p>
        <p>Explanation: In this example, we can perform join operations in the following order to minimize the length of str2:</p>
        <p>str0 = "aa"</p>
        <p>str1 = join(str0, "ab") = "aab"</p>
        <p>str2 = join(str1, "bc") = "aabc"</p>
        <p>It can be shown that the minimum possible length of str2 is 4.</p>
    </div>

    <div class="example">
        <h2>Example 2:</h2>
        <p>Input: words = ["ab","b"]</p>
        <p>Output: <span class="example-output">2</span></p>
        <p>Explanation: In this example, str0 = "ab", there are two ways to get str1:</p>
        <p>join(str0, "b") = "ab" or join("b", str0) = "bab".</p>
        <p>The first string, "ab", has the minimum length. Hence, the answer is 2.</p>
    </div>

    <div class="example">
        <h2>Example 3:</h2>
        <p>Input: words = ["aaa","c","aba"]</p>
        <p>Output: <span class="example-output">6</span></p>
        <p>Explanation: In this example, we can perform join operations in the following order to minimize the length of str2:</p>
        <p>str0 = "aaa"</p>
        <p>str1 = join(str0, "c") = "aaac"</p>
        <p>str2 = join("aba", str1) = "abaaac"</p>
        <p>It can be shown that the minimum possible length of str2 is 6.</p>
    </div>

    <h2>Constraints:</h2>
    <ul>
        <li>1 <= words.length <= 1000</li>
        <li>1 <= words[i].length <= 50</li>
        <li>Each character in words[i] is an English lowercase letter</li>
    </ul>
  </div>
  {% include "quizzes/q_snippet.html" %}
{% endblock %}