{% if messages %}
    {% for message in messages %}
    <div class="p-5 m-5">
        {{ message }}
    </div>
    {% endfor %}
    <div>
        <a href="{{ request.get_full_path }}" class="btn btn-secondary p-0 px-2">&#8634;</a>
        <a href="{% url 'leetquizzer:main_menu' %}" class="btn btn-secondary p-0 px-2">&vltri;</a>
    </div>
{% else %}
<form action="", method="post">
    {% csrf_token %}
    <h1 class="lead pt-5">Pick Your Answer:</h1>
    <ul class="list-group">
        {% for question, is_correct in question_list %}
        <li class="list-group-item">
            <div class="form-check" style="display: inline-flex;">
                <input class="form-check-input" type="radio" name="answer" id="{{ forloop.counter }}" 
                        value="{{ is_correct}}" style="flex-shrink: 0; line-height: 1.45rem;" required>
                <label class="form-check-label ms-2" for="{{ forloop.counter }}" 
                        style="line-height: 1.45rem;">{{ question }}</label>
            </div>
        </li>
        {% endfor %}
    </ul>
    <br>
    <input type="submit" value="Submit" class="btn btn-secondary mb-5">
</form>
{% endif %}