.dropFromTop {
    animation: drop 1s ease-out forwards;
    transform: translateY(-150%);
}

@keyframes drop {
    0% {
        transform: translateY(-100%);
    }

    25% {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(-25%);
    }

    75% {
        transform: translateY(12.5%);
    }

    100% {
        transform: translateY(0%);
    }
}