:root {
    --theme-blue: #55bae2;
    --theme-orange: #f3b542;
    --color-primary: white;
    --transition-duration: 0.1s;
}

/* main.py about section */
.dot {opacity: 0.1;}
.function {color:blue;}
.variable {color: orange;}
.self {color: green;}
.value {color: darkslategrey;}
.ide {background-color: white;}

.social-btn {
    transition: var(--transition-duration);
    background-color: var(--theme-orange);
    color: var(--color-primary);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}
  
.social-btn:hover {
    transition:var(--transition-duration);
    background-color: var(--theme-blue);
    color: var(--color-primary);
}

.skills {
    font-size: 20px;
    background-color: black;
    color: var(--color-primary);
    padding: 2px;
    border-radius: 2px;
}