:root {
    --theme-blue: #55bae2;
    --theme-orange: #f3b542;
    --transition-duration: 0.1s;
}

body {
    background-color: #242526;
    color:white;
}

.slidein-card {
    background-color: #292929;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.slidein {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.dark-form,
.dark-form:focus {
    background-color: #242526;
    border-color: #363636;
    color: white;
}

.rounded-item {
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}