:root {
    --theme-blue: #55bae2;
    --theme-orange: #f3b542;
    --transition-duration: 0.1s;
}

body {
    background-color: #242526;
    color:white;
}

.slidein-card {
    background-color: #292929;
}

.dark-form,
.dark-form:focus {
    background-color: #242526;
    border-color: #414141;
    color: white;
}