{% extends "leetquizzer/base.html" %}

{% block title %}
    <title>{{ page_title }}</title>
{% endblock %}

{% block content %}
<p><strong>* marked fields are required</strong></p>
<form action="" method="post" class="pt-1 fw-bolder">
    {% csrf_token %}
    {{ form.as_table }}
    <p><strong>separate multiple edge cases with vertical bars (|). Example: case A | case B</strong></p>
    <li class="list-group-item d-flex justify-content-between align-items-center mb-5">
        <input type="submit" class="btn btn-secondary mt-1" value="Submit">
        <a href="{% url 'leetquizzer:create_topic' %}" class="btn btn-secondary">+Topic</a>
    </li>
</form>

{% if message %}
<p><strong>{{ message }}</strong></p>
{% endif %}
{% endblock %}