{% extends "leetquizzer/base.html" %}

{% block title %}
<title>LeetQuizzer</title>
{% endblock %}

{% block content %}
<h1 class="text-center">Problem List</h1>
{% if problem_list %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="d-none d-md-table-cell"><a href="{% url 'leetquizzer:create_problem' %}" class="link-dark link-underline-opacity-0"><b>&plus;Add</b></a></th>
        <th scope="col"><a href="{% url 'leetquizzer:main_menu' %}" class="link-dark link-underline-opacity-0"><b>Problem&#8634;</b></a></th>
        <th scope="col" class="d-none d-md-table-cell"></th>
        {% if current == 'topic__name' %}
        <th scope="col"><a href="{% url 'leetquizzer:main_menu' '-topic__name' %}" class="link-dark link-underline-opacity-0"><b>Topic&udarr;</b></a></th>
        {% else %}
        <th scope="col"><a href="{% url 'leetquizzer:main_menu' 'topic__name' %}" class="link-dark link-underline-opacity-0"><b>Topic&udarr;</b></a></th>
        {% endif %}
        {% if current == 'difficulty__name' %}
        <th scope="col"><a href="{% url 'leetquizzer:main_menu' '-difficulty__name' %}" class="link-dark link-underline-opacity-0"><b>Difficulty&udarr;</b></a></th>
        {% else %}
        <th scope="col"><a href="{% url 'leetquizzer:main_menu' 'difficulty__name' %}" class="link-dark link-underline-opacity-0"><b>Difficulty&udarr;</b></a></th>
        {% endif %}
        <th scope="col" class="d-none d-md-table-cell"></th>
      </tr>
    </thead>
    <tbody>
        {% for problem in problem_list %}
        <tr class="{% if problem.wrong %}table-danger{% endif %}">
            <td class="d-none d-md-table-cell">{{problem.number}}</td>
            <td><a href="{% url 'leetquizzer:problem_menu' problem.pk %}" class="link-dark link-underline-opacity-0" style="display: block;">{{ problem.name }}</a></td>
            <td class="d-none d-md-table-cell"><a href="https://leetcode.com/problems/{{ problem.link }}/" class="link-dark" title="LeetCode"><i class="bi bi-box-arrow-up-right"></i></a></td>
            <td><a href="{% url 'leetquizzer:update_topic' problem.topic_id %}" class="link-dark link-underline-opacity-0" style="display: block;">{{problem.topic}}</a></td>
            <td>{{problem.difficulty}}</td>
            <td class="d-none d-md-table-cell">
              <div class="container d-flex justify-content-end align-items-center">
                <a href="{% url 'leetquizzer:update_problem' problem.pk %}" class="link-dark px-2" title="Update Problem">
                  <i class="bi bi-gear"></i>
                </a>
                {% if user.is_authenticated %}
                {% include "leetquizzer/problem_delete.html" %}
                {% endif %}
              </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}
<p>no problems to show <a href="{% url 'leetquizzer:create_problem' %}" class="btn btn-secondary p-0 px-2"><strong>&plus;</strong></a></p>
{% endif %}
{% endblock %}