{% extends "auth/base.html" %}
{% block title %}<title>LOGIN</title>{% endblock %}
{% block content %}
    <div class="container p-2 flex-column d-flex justify-content-center align-items-center dropFromTop">
        <h1 class="lead display-1">
            <i class="bi bi-shield-lock"></i>
        </h1>
        <div class="container col-md-8 shadow rounded p-3 m-3">
            <div class="container">
                <form action="", method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-light form-control">LOGIN</button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show my-2"
                             role="alert">
                            {{ message }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
